MIX_ENV=prod
COIN={{coin_tag}}
CHAINID={{chain_id}}
DISABLE_EXCHANGE_RATES=true
DISABLE_KNOWN_TOKENS=true
SHOW_PRICE_CHART=false
ENABLE_1559_SUPPORT=true
DISABLE_READ_API=true
DISABLE_WRITE_API=true
ENABLE_TXS_STATS=true
SHOW_TXS_CHART=true
BLOCKSCOUT_HOST={{ansible_host}}
DATABASE_URL=postgresql://{{execution_explorer_postgres_user}}:{{execution_explorer_postgres_password}}@{{execution_explorer_postgres_ip}}:{{execution_explorer_postgres_port}}/explorer?ssl=false
SECRET_KEY_BASE=VTIB3uHDNbvrY0+60ZWgUoUBKDn9ppLR8MI4CpRz4/qLyEFs54ktJfaNT6Z221No
ETHEREUM_JSONRPC_VARIANT=nethermind
ETHEREUM_JSONRPC_HTTP_URL=http://{{explorer_source_node_execution_ip_address}}:{{execution_rpc_port}}
ETHEREUM_JSONRPC_TRACE_URL=http://{{explorer_source_node_execution_ip_address}}:{{execution_rpc_port}}
ETHEREUM_JSONRPC_WS_URL=ws://{{explorer_source_node_execution_ip_address}}:{{execution_ws_rpc_port}}
ECTO_USE_SSL=false
NETWORK=Testnets
SUBNETWORK={{eth2_network_name}}
BLOCK_TRANSFORMER=base
POOL_SIZE=30
ACCOUNT_POOL_SIZE=15
CHAIN_SPEC_PATH={{execution_explorer_genesis_cont_path}}
PORT={{execution_explorer_public_port}}
{% if execution_explorer_first_block is defined %}
FIRST_BLOCK={{execution_explorer_first_block}}
TRACE_FIRST_BLOCK={{execution_explorer_first_block}}
{% endif %}

# Indexer configuration
INDEXER_DISABLE_ADDRESS_COIN_BALANCE_FETCHER=true
INDEXER_DISABLE_EMPTY_BLOCK_SANITIZER=true
